{% extends 'base.html.twig' %}

{% block title %}Student
{% endblock %}

{% block body %}
	<h1>Students</h1>

	<table class="table" border='3'>

		<thead>
			<tr>
				<th>Id</th>
				<th>NSC</th>
				<th>Email</th>
				<th>Classroom</th>
				{# <th>Clubs</th> #}
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for student in students %}
				<tr>
					<td>{{ student.id }}</td>
					<td>{{ student.NSC }}</td>
					<td>{{ student.Email }}</td>
					<td>{{ student.classroom.name }}</td>
					{# <td>
																{% for club in student.getClub() %}
																	{{club.REF}}
																	|
																{% endfor %}
															</td> #}

					<td>
						<a href="{{ path('app_student_edit', {'id': student.id}) }}">modifier</a>
						<a href="{{ path('app_student_delete', {'id': student.id}) }}">Supprimer</a>

					</td>
				</tr>

			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_student_new') }}">Create new</a>
</br>

<a href="{{ path('app_student_trier') }}">Trier</a>
</br>
<a href="{{ path('app_student_search') }}">Search</a>
{% endblock %}
